{% extends 'base.html' %} {%block title %}管理页面{% endblock %} {% block body %}
<script>
    var l=[]
</script>
<table class="ui celled table" style="text-align: center;">
	<thead>
		<tr>
			<th>
				uid
			</th>
			<th>
				username
				<th>
					总犇犇条数
				</th>
				<th>
					被迫害次数
				</th>
				<th>
					操作
				</th>
		</tr>
	</thead>
	<tbody>
		{% for i in l %}
		<tr>
			<td>
				{{i.uid}}
			</td>
			<td>
				<a href="/user/{{i.uid}}"> {{i.username}}
				</a>
			</td>
			<td>
				{{len(i.benbens)}}
			</td>
			<td>
				{{i.beipohai}}
			</td>
			<td>
				<button class="mini ui botton" onclick="pohai({{i.uid}})" id="pohai">
                         迫害
                    </button>
                    <button class="mini ui botton" onclick="check({{i.uid}})">
                         更新
                    </button>
            </td>
            <script>
                
                l.push({{i.uid}})
            </script>
        </tr>
        {% endfor %}
      </tbody>
</table>
<script>
            function check (uid)
            {
                var qwq=uid;
                $(this).attr("class", "mini ui loading button");
                $.get('/api/checkbenben?uid='+qwq,function(data,status){
                    if (status="success")
                    {
                        $('#check'+qwq).attr("class", "mini ui button")
                        if (data!=0)
                        {
                            $('#check'+qwq).text("成功同步了今天的"+data+"条新消息")
                        }
                            else
                        {
                            $('#check'+qwq).text("今天无新消息")
                        }
                        setTimeout(function(){
                            $('#check'+qwq).text("更新")
                        },500)
                    }
                })
            }
            function pohai(uid)
            {
                var qwq=uid;
                $.post("/persecute?uid="+qwq,function(data,status){
                    if (status=="success")
                        $("#pohai"+qwq).html("迫害成功，共"+data+"次");
                    else
                        $("#pohai"+qwq).html("迫害失败:"+status);
                    setTimeout('$("#pohai"+qwq).html("迫害")',1500);
                })
            }
        </script>   
<script>
    
    function sleep (time) {
    return new Promise((resolve) => setTimeout(resolve, time));
    }
    var cnt=0;
    async function abababab(i)
    {
        $.get('/api/checkbenben?uid='+l[i],function(data,status)
        {
            if(status=='success')
            {
                console.log(l[i]+"更新了，增加了"+data)
                cnt+=parseInt(data)
            }
            else
            {
                console.error(l[i] +"错误")
            }
        })
    }
    $('#check-all').on('click',async function(){
        cnt=0;
        for (let i=0;i<l.length;i++)
        {
            await sleep(500);
              abababab(i)
        }
        swal("更新结束","共"+cnt+"条新犇犇",'success')
    })
</script>
{% endblock %}