{% extends 'base.html' %}
{% block title %}删除请求{% endblock %}
{% block body %}
<p style="color:red">
    警告，一经审核不可修改，请<strong>仔细审查犇犇内容</strong>后做出决定！
</p>
<p>
    该请求由{{u.username}}要求删除由{{dwt.benben.username}}发布的犇犇：{{dwt.benben.text|safe}}
</p>
<p>
    请求发布于{{ moment(dwt.submit_time).format("YYYY-MM-DD HH:mm:ss")}}，原因为：{{dwt.reason}}
</p>
<form class="ui form" method="POST">
    {{ form.csrf_token }}
				{%- for fieldname, errors in form.errors.items() %}
					{%- for error in errors %}
						<script>
							swal("验证失败","{{error}}","error");
						</script>
					{%- endfor %}
				{%- endfor %}
    <div class="field" >
        <label>
            留言:
        </label>
        <textarea id="massage" name="massage" required="" >这里输入留言，不超过75个字符</textarea>
    </div>
    <div class="inline fields">
        <label >请选择是否通过</label>
        <input class="positive ui button" id="approve" name="approve" type="submit" value="通过">
        <input class="negative ui button" id="deny" name="deny" type="submit" value="拒绝">
    </div>
</form>
{% endblock body %}
