{% from 'macros.html' import render_nav_item ,render_messages%}
<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='semantic/semantic.min.css')}}">
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="{{url_for('static',filename='semantic/semantic.min.js')}}"></script>
        <script src="{{url_for('static',filename='md5.js')}}"></script>
		{{ moment.include_moment() }}
		{{ moment.locale('zh-cn') }}　
	</head>
	<body>
		<div class="ui fixed borderless menu" style="height: 50px;">
			<div class="ui container">
				<a class="header item" href="{{url_for("main")}}">
					<i class="bug icon"></i>
					犇犇爬虫
				</a>
				{{ render_nav_item('main', '<i class="home icon"> </i> 主页') }}
				{{ render_nav_item('ranklist', '<i class="signal icon"> </i> 排行榜') }}
				{{ render_nav_item('help', '<i class="help circle icon"> </i> Q&A') }}
                <div class="right menu">
					{% if current_user.is_authenticated %}
					<div class="ui item simple dropdown" >
						<i class="user icon"></i>
						{{current_user.username}}
						<i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" href="/logout"><i class="sign-out icon"></i>登出</a>
                            {% if current_user.is_admin %}
                                <a class="item" href="/admin"><i class="cogs icon"></i>管理后台</a>
                            {% endif %}
						</div>
					</div>
					{% else %}
                    {{ render_nav_item('login', '<i class="sign-in icon"></i>登录') }}
					{{ render_nav_item('register', '注册') }}
					{% endif %}
                </div>
			</div>
		</div>
		<div class="ui container" style="margin-top: 55px; " >
			{% if current_user.is_authenticated and not current_user.is_confirmed() and request.endpoint!='check_paste'%}
			<div class="ui negative message">
				<i class="close icon"></i>
				<div class="header">
					请您<a href="/checkpaste">进行验证</a>，否则将无权限操作
				</div>
			</div>
			<script>
				$('.message .close')
									  .on('click', function() {
										$(this)
										  .closest('.message')
										  .transition('fade')
										;
									  })
									;
								</script>
			{% endif %}
	        {{ render_messages(container=False, dismissible=True) }}
	        {% block body %}{% endblock %}
    	</div>
	</body>

</html>
