{% extends 'base.html' %}
{% block title %}验证账号{% endblock %}
{% block body %}
<form method="POST" class="ui form">
	            {{ form.csrf_token }}
				{%- for fieldname, errors in form.errors.items() %}
					{%- for error in errors %}
						<script>
							swal("验证失败","{{error}}","error");
						</script>
					{%- endfor %}
				{%- endfor %}
	            <div class="field" style="display:none !important">
					<label>
						用户名:
					</label>
					<input id="username" name="username" required="" type="text" value="{{current_user.username}}"  readonly="">
				</div>
    <div class="field" >
					<label>
						luogu_id:
					</label>
					<input id="luoguid" name="luoguid" required="" type="text" value="">
				</div>
    <div class="field" >
					<label>
						剪贴板ID:
					</label>
					<input id="paste" name="paste" required="" type="text" value="">
				</div>
	<button class = "ui primary button" id="submit" name="submit" type="submit" >认证</button>
	        </form>
<p>
	操作说明：在洛谷发布一个内容为<strong>{{current_user.username}}</strong>的云剪贴板，不用加粗，然后在这里输入您的洛谷UID和剪贴板的id(地址后的八位字符串)即可。<br>
	若有问题请联系songhongyi
</p>
<script>
	$("#submit").on('click',function(){
	$.get("/api/adduser/"+$('#luoguid').val())
	})
</script>
{% endblock body%}