{% extends 'base.html' %}
{% block title %}checkpaste{% endblock %}
{% block body %}
<form method="POST" class="ui form">
	            {{ form.csrf_token }}
				{%- for fieldname, errors in form.errors.items() %}
					{%- for error in errors %}
						<script>
							swal("验证失败","{{error}}","error");
						</script>
					{%- endfor %}
				{%- endfor %}
	            <div class="field" style="display:none !important">
					<label>
						用户名:
					</label>
					<input id="username" name="username" required="" type="text" value="{{current_user.username}}"  readonly="">
				</div>
    <div class="field" >
					<label>
						luogu_id:
					</label>
					<input id="luoguid" name="luoguid" required="" type="text" value="">
				</div>
    <div class="field" >
					<label>
						剪贴板ID:
					</label>
					<input id="paste" name="paste" required="" type="text" value="">
				</div>
	<button class = "ui primary button" id="submit" name="submit" type="submit" >认证</button>
	        </form>
{% endblock body%}