{% extends 'base.html' %}
{% block title %}Q&A{% endblock %}
​{% block body %}
	<h3 class="ui header" style="text-align: center;">
		Q&A
	</h3>
	<ul>
		<li>
			<p>
			 	Q:这是啥？
			</p>
			<p>
				 A:犇犇爬虫结果的公示网站。
			</p>
		</li>
		<li>
			<p>
			 	Q:好像犇犇SPFA了？
			</p>
			<p>
				 A:我谔谔，但是留着不好吗？
			</p>
		</li>
		<li>
			<p>
				Q:怎么功能这么少，我要你有何用？
			</p>
			<p>
				 A:以后会加的，你也可以通过Github参入到其中。
			</p>
		</li>
		<li>
			<p>
				 Q:我有改进意见或别的问题怎么联系你？
			</p>
			<p>
				 A:建议在这个Github项目的Issue里说。
			</p>
		</li>
		<li>
			<p>
				Q:说了半天，Github项目地址是什么啊
			</p>
			<p>
				A:<a href="https://github.com/william-song-shy/ben-ben-spider">点这里即可</a>
			</p>
		</li>
	</ul>
{% endblock body %}