{% extends 'base.html' %}
​{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				Q&A
			</h3>
			<ul>
				<li>
					<p>
					 	Q:这是啥？
					</p>
					<p>
						 A:犇犇爬虫结果的公示网站。
					</p>
				</li>
				<li>
					<p>
					 	Q:和神虎中门对狙？
					</p>
					<p>
						 A:不是，我和虎协商过的。
					</p>
				</li>
				<li>
					<p>
					 	Q:怎么功能这么少，我要你有何用？
					</p>
					<p>
						 A:以后会加的，但是参见标题。
					</p>
				</li>
				<li>
					<p>
					 	Q:我有改进意见获别的问题怎么联系你？
					</p>
					<p>
						 A:洛谷私信songhongyi或QQ2560814258即可。
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock body %}