{% extends 'base.html' %}
{% block title %} 用户界面 {% endblock %}
{% block body %}
	<style type="text/css">
		img {max-width: 100%;}
	</style>
	<p style="text-align: center;">
		<strong>{% if v != 0 %}今日共{{v}}条消息，{% if apm %}排名是第{{pm}}名{% else %}不允许排名{% endif %}，{% else %}今天无消息，{% endif %}{% if ph != 0%}被迫害了{{ph}}次{% else %}没有被迫害过{% endif %}。</strong>
	</p>
	<button class="ui primary button" id="check">
		更新
	</button>
	<button class="ui primary button" id="pohai">
        {% if uid == 122461 %}
            迫害她
        {% else %}
		    迫害Ta
        {% endif %}
	</button>
	{% if current_user.is_admin %}
	<button class="ui primary button" id="check-10">更新最近的200条犇犇（慎用）</button>
	{% endif %}
	<a href="https://www.luogu.com.cn/user/{{uid}}" class="ui primary button">
		前往洛谷个人主页
	</a>
	{% if current_user.super_admin %}
		<a href="/api/banuser?uid={{uid}}" class="ui primary button">
			{% if apm %}禁止排名{% else %}允许排名{% endif %}
		</a>
	{% endif %}
	<script type="text/javascript">
		$("[alt]").attr("class","ui image")
    	$("#check").on('click',function(){
    		$(this).attr("class", "ui primary loading button");
    		$.get('/api/checkbenben?uid={{uid}}',function(data,status){
    			if (status="success")
    			{
    				$('#check').attr("class", "ui primary button")
    				if (data!=0)
	        		{
	        			$('#check').text("成功同步了今天的"+data+"条新消息")
	        		}
	        			else
	        		{
	        			$('#check').text("今天无新消息")
	        		}
    				setTimeout(function(){
    					$('#check').text("更新")
    				},500)
    			}
    		})
    	})
    	$("#pohai").on('click',function(){
			$.post("/persecute?uid="+{{uid}},function(data,status){
				if (status=="success")
					$("#pohai").html("迫害成功，共"+data+"次");
				else
					$("#pohai").html("迫害失败:"+status);
				setTimeout('$("#pohai").html("迫害Ta")',1500);
			})
		})
		{% if current_user.is_admin %}
		function sleep (time) {
    	return new Promise((resolve) => setTimeout(resolve, time));
    	}
    	$("#check-10").on('click',async function(){
    	var cnt=0;
    	for (let i=0;i<10;i++)
    	{
    		await sleep(500);
    		$.get('/api/checkbenben?uid={{uid}}&page='+i,function(data,status)
			{
				if(status=='success')
				{
					console.log("第"+(i+1)+"页更新了"+data+"条")
					cnt+=parseInt(data)
				}
				else
				{
					console.error("错误")
				}
			})
    	}})
    	{% endif %}
    </script>
	<div class="ui segment">
		<p>用户语录</p>
		<div class="ui comments" style="max-width: 1097px;">
			{% for i in yulus %}
				<div class="ui divider"></div>
				<div class="comment">
				  <a class="ui circular avatar image" style="height : 35px;width: 35px !important">
					<img src="https://cdn.luogu.com.cn/upload/usericon/{{i.uid}}.png">
				  </a>
				  <div class="content">
					<a class="author" href="/user/{{i.uid}}" style="color:#4183c4 !important">{{ i.username }}</a>
					<div class="metadata">
					  <div class="date">{{moment(i.time).format	("YYYY-MM-DD HH:mm:ss")}}</div>
					</div>
					<div class="text">
					  {{ i.text|safe }}
					</div>
				  </div>
            </div>
			{% endfor %}
		</div>
		<div class="ui divider"></div>
		<p>以下是该用户的近100条犇犇，可以点击申请删除删除</p>
		<div class="ui comments" style="max-width: 1097px;">
			{% for i in benbens %}
				<div class="ui divider"></div>
				<div class="comment">
				  <a class="ui circular avatar image" style="height : 35px;width: 35px !important">
					<img src="https://cdn.luogu.com.cn/upload/usericon/{{i.uid}}.png">
				  </a>
				  <div class="content">
					<a class="author" href="/user/{{i.uid}}" style="color:#4183c4 !important">{{ i.username }}</a>
					<div class="metadata">
					  <div class="date">{{moment(i.time).format	("YYYY-MM-DD HH:mm:ss")}}</div>
					</div>
					<div class="text">
					  {{ i.text|safe }}
					</div>
					  <div class="actions">
						  <a class="delete" href="/deletewant/new?bid={{i.id}}">申请删除</a>
						  {% if current_user.is_admin %}<a class="set" href="/api/addyulu?bid={{i.id}}">设为语录</a> {% endif %}
					  </div>
				  </div>
            </div>
			{% endfor %}
		</div>
	</div>
{% endblock body %}
