{% extends 'base.html' %}
{% block title %} 用户界面 {% endblock %}
​{% block body %} 
	<p style="text-align: center;">
		<strong>{% if v != 0 %}今日共{{v}}条消息，排名是第{{pm}}名，{% else %}今天无消息，{% endif %}{% if ph != 0%}被迫害了{{ph}}次{% else %}没有被迫害过{% endif %}。</strong>
	</p>
	<button class="ui button" id="check">
			更新
	</button>
	<script type="text/javascript">
    	$("#check").on('click',function(){
    		$.get('/api/checkbenben?uid={{uid}}',function(data,status){
    			if (status="success")
    			{
    				$('#check').text("成功同步了今天的"+data+"条新消息")
    				setTimeout(function(){
    					$('#check').text("更新")
    				},500)
    			}
    		})
    	})
    </script>
    {% for i in benbens %}
		<p style="text-align: center;">
			@<a href="/user/{{i.uid}}">{{ i.username }}<a></a>:{{ i.text|safe }}
		</p>
        <p style="text-align: center;">
			 发送时间是:{{i.time}}
        </p>
    {% endfor %}
{% endblock body %}