{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form_row,render_field %}
{% block title %}时间查询{% endblock %}
​{% block body %} 
	<p style="text-align: center;">
		时间格式：%Y-%m-%d %H:%M:%S<br>如:1919-08-10 11:45:14<br>与洛谷犇犇的时间格式相同
	</p>
	<form class="ui form" method="POST">
					{{ form.csrf_token }}
	<div class="field" >
					<label>
						开始时间:
                    </label>
					<input id="begin" name="begin" required="" type="text" value="">
				</div>
<div class="field" >
					<label>
						结束时间:
                    </label>
					<input id="end" name="end" required="" type="text" value="">
</div>
		    <button class = "ui primary button" id="submit" name="submit" type="submit" >查询</button>

	</form>
{% endblock body %}